*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*header section*/
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 1000;
}
.header_content{
    display: flex;
    width: 95%;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.logo>img{
    width: 150px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}
.logo>img:hover{
    transform: scale(1.1);
}
.nav>ul>li{
    display: inline-block;
    list-style: none;
    margin:10px;
}
.nav>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}
.nav>ul>li>a:hover{
    color: #06C3DD;
    text-shadow: #06C3DD;
    border-bottom: 3px solid #06C3DD;
}
#menu_icon{
    font-size: 3.5rem;
    color: white;
    display: none;
}

/*home section*/
.home{
    background-image: url("assests/images/index/background1.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.home_section{
    padding: 100px 10%;
}
.home-content{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4em;
}
.text{
    max-width: 600px;
    padding: 100px 10px;
}
.text h1{
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.text h3{
    font-size: 20px;
    font-weight: 600;
    color: #06C3DD;
}
.hbtn{
    background: #06C3DD;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    display:inline-block;
    margin: 30px 0;
    border: 2px solid transparent;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px #06C3DD;
}
.hbtn a{
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.social-icons{
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 10px 0;
    background: transparent;
    color: #06C3DD;
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.home-img{
    position: relative;
    width: 250px;
    height: 400px;
    left: 120px;
    bottom: 30px;
}
.img-box{
  text-align: left;
}
.img-box img{
    width: 100%;
    max-width: 350px;
    height: 500px;
}

.line{
    border-left: 4px solid white;
    height: 200px;
    position: absolute;
    left: 0;
    margin-left: 120px;
    top: 230px;
}


/*about section*/
.about{
    background-image: url("assests/images/about/bac.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.about_section{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
}
.about_image{
    text-align: center;
    position: relative;
}
.about_content h1{
    color: white;
    font-weight: 700;
    font-size: 40px;
}
span{
    color: #06C3DD;
}
.about_content p{
    color: white;
    font-weight: 300;
    margin-bottom:1.5rem;
}
.download{
    background: #06C3DD;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border: 2px solid transparent;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px #06C3DD;
}
.download a{
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

/*education section*/
.education{
    background-image: url("assests/images/education/education.png");
    height: 125vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position:center;
}

.education_section h1{
    color: #06C3DD;
    font-size: 40px;
    margin: auto;
}
.education_section>div{
    position: relative;
    display: block;
    width: 95%;
    height: 200px;
    top: 50px;
    background-color: rgba(3, 3, 61, 0.3);
    border-radius: 0 30px 30px 0;
    align-items: center;
    justify-content: space-around;
}
.logoPng{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
}
.logoPng h3{
    color: #06C3DD;
}
.logoPng h4{
    color: white;
}

/*project section*/
.project{
    background-image: url("assests/images/project/project.png");
    height: 150vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.project-section h1{
    color: #06C3DD;
    font-size: 40px;
    margin: auto;
}
.project-section h2{
    color:white ;
    font-size: 30px;
    margin-left: 700px;
}
.topic{
    color: #06C3DD;
}
.project_content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    align-items: center;
    padding: 100px 100px;
    gap: 2.5rem;
}
.project-final{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 61, 0.3);
    padding: 50px 0;
    width: 500px;
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.project-final {
    display: block;
    justify-content: center;
    align-items: center;
}
.section-1 img{
    position: relative;
    left: 20px;
    justify-content: flex-start;
    align-items: center;
}
.section-1 h3{
    color: #06C3DD;
    font-size: 25px;
    padding: 20px 10px;
    font-weight: 500;
}
.div{
    color: #06C3DD;
    position: relative;
    left: 180px;
    justify-content: center;
    align-items: center;
}
.section-1 h4{
    color: white;
    font-size: 20px;
    padding: 5px 30px;
    justify-content: center;
    align-items: center;
}
.p1{
    background: #06C3DD;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 10px 150px;
    border: 2px solid transparent;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px black;

}
.p1 a{
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.section-2 img{
    position: relative;
    left: 100px;
    justify-content: flex-start;
    align-items: center;
}
.section-2 h3{
    color: blue;
    font-size: 25px;
    padding: 20px 120px;
    font-weight: 500;
}
.section-2 h4{
    color: white;
    font-size: 20px;
    padding: 5px 40px;
    justify-content: center;
    align-items: center;
}
.p{
    color: white;
    position: relative;
    left: 160px;
    justify-content: center;
    align-items: center;
}
.p2 {
    background: #06C3DD;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 10px 150px;
    border: 2px solid transparent;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px black;
}
.p2 a{
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

/*assignment section*/
.assignment{
    background-image: url("assests/images/assignment/assignment.png");
    height: 120vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.assign-section h1{
    color: #06C3DD;
    font-size: 40px;
    margin: auto;
}
.assignment_content div{
    display: inline-flex;
    padding: 10px 150px;
    width: 200px;
    height: 200px;
    justify-content: space-evenly;
}

/*experience section*/
.experience{
    background-image: url("assests/images/experience/experience.png");
    height: 150vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.experience-section h1{
    color: #06C3DD;
    font-size: 40px;
    margin: auto;
}
.ex-content div{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: lighter;
    align-items: center;
}
.ex-content div:first-child{
   padding: 0 20px;
}
.ex-content div:nth-child(2){
    padding: 0 100px;
}
.ex-content div:nth-child(3){
   padding: 0 20px;
}
.ex-content div:nth-child(4){
  padding: 0 100px;
}
.experience-section div img{
    width: 300px;
    height: 200px;
}
.ex-content div h5{
    color: white;
    padding: 0 20px;
}

/*skills section*/
.skills{
    background-image: url("assests/images/skills/skills.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.skills-section h1{
    color: #06C3DD;
    font-size: 40px;
    margin: auto;
}
.skill-content div{
    display: inline-flex;
    padding: 50px 150px;
    width: 200px;
    height: 200px;
    justify-content: space-between;
}
.skill-content div img:nth-child(2){
    position: relative;
    right: 110px;
    top: 35px;
    justify-content: center;
    align-items: center;
}
.skill-content div h4{
    position: relative;
    color: white;
    font-size: 20px;
    right: 200px;
    top: 160px;
}

/*gallery section*/
.gallery{
    background-image: url("assests/images/gallery/gallery.png");
    height: 140vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.gallery h1{
    color: #06C3DD;
    padding: 10px 0;
    font-size: 40px;
    margin: auto;
}
.gallery-content div{
    display: inline-flex;
    padding: 40px 10px;
}

/*contact section*/
.contact{
    background-image: url("assests/images/contact/contact.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.contact-section h1{
    color: #06C3DD;
    padding: 10px 0;
    font-size: 40px;
    margin: auto;
}
.contact-content div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
}











