*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*header section*/
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 1000;
}
.header_content{
    display: flex;
    width: 95%;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.logo>img{
    width: 150px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    /*transition: 0.3s ease-in-out;*/
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
/*.logo>img:hover{
    transform: scale(1.1);
}*/
.nav>ul>li{
    display: inline-block;
    list-style: none;
    margin:10px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.nav>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;

}
.nav>ul>li>.active,
.nav>ul>li>a:hover{
    color: #06C3DD;
    text-shadow: #06C3DD;
    border-bottom: 3px solid #06C3DD;
}
#menu_icon{
    font-size: 3.5rem;
    color: white;
    display: none;
}


/*====================home section====================*/
.hero-page{
    background-image: url("../assests/images/index/background1.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 45px;
    font-weight: 700;
    color: white;
    margin: 2px 0;
}
.home-content h3{
    font-size: 32px;
    color: #06C3DD;
    font-weight: 700;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #06C3DD;
    border-radius: 50%;
    font-size: 20px;
    color: #06C3DD;
    text-decoration: none;
    margin: 20px 15px 30px 0;
    transition: .5s ease;
}
.social-icons a:hover{
    background: #06C3DD;
    color: white;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #06C3DD;
    border-radius: 40px;
    box-shadow: 0 0 10px #06C3DD;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.home-img{
    background: white;
    border: 20px solid #06C3DD;
}
.home-img img{
    position: relative;
    width: 300px;
    height: 450px;
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/*====================about section====================*/
.about-page{
    background-image: url("../assests/images/about/bac.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 1% 0;
}
.about-img {
    border-radius: 50px;
}
.about-img img{
    width: 750px;
    height: 600px;
}
.about-content h1{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
span{
    color: #06C3DD;
    font-size: 37px;
}
.about-content p{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;

}
.about-btn{
    display: inline-block;
    padding: 12px 28px;
    background: #06C3DD;
    border-radius: 40px;
    box-shadow: 0 0 10px #06C3DD;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #06C3DD;
}
::-webkit-scrollbar-track{
    background-color: black;
}
/*====================education section====================*/
.education-page{
    background-image: url("../assests/images/education/education.png");
    height: 135vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.education{
    display: inline-block;
    padding: 20px 5% 0;
}
.education h1{
    color: #06C3DD;
    font-size: 35px;
}
.education-content .edu{
    background-color: rgba(1, 1, 31, 0.31);
    width: 95%;
    height: 200px;
    border-radius: 0 50px 50px 0;
    margin: 20px 0;
}
.edu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu img{
    width: 150px;
    height: 150px;
    margin: 15px;
}
.edu h3{
    font-size: 25px;
    color: #06C3DD;

}
.edu h4{
    font-size: 18px;
    color: white;
}
/*====================project section====================*/
.project-page{
    background-image: url("../assests/images/project/project.png");
    height: 135vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.project h3{
    color: white;
    font-size: 30px;

}
.heading{
    color: #06C3DD;
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.project-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    margin: 5rem 0;
    gap: 3rem;
    row-gap: 5rem;
}
.project-card{
    height: 600px;
    max-width: 450px;
    background-color:transparent;
    backdrop-filter: blur(30px);
    border: 2px solid #06C3DD;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px #06C3DD;
    transition: 0.4s ease;
}
.project-card:hover{
    box-shadow: 0 0 25px #06C3DD,
                0 0 50px #06C3DD;
    transform: scale(1.02);
}
.project-card img{
    max-width: 18vw;
    object-fit: cover;
}
.project-card h3{
    font-size: 1.5rem;
    color: #06C3DD;
}
.project-card h4{
    font-size: 1rem;
    color: white;
}
.project-card a{
    display: inline-block;
    padding: 12px 28px;
    background: #06C3DD;
    border-radius: 40px;
    box-shadow: 0 0 10px #06C3DD;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

/*====================assignment section====================*/
.assignment-page{
    background-image: url("../assests/images/assignment/assignment.png");
    height: 170vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.assignment h1{
    color: #06C3DD;
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.assignment-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    grid-gap: 2rem;

}
.assignment-content div{
    border: 2px solid #06C3DD;
    background: linear-gradient(white,#06C3DD);
    border-radius: 30px 30px 30px 30px;
    width: 250px;
    height: 250px;
}
.assignment-content div img{
    width: 100px;
    height: 100px;
    margin-left:60px;
    padding: 10px;
}
.assignment-content div h3{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}
.assignment-content div a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 10px 15px 50px 0;
    transition: .5s ease;
}

/*====================experience section====================*/
.experience-page{
    background-image: url("../assests/images/experience/experience.png");
    height: 170vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.experience h1{
    color: #06C3DD;
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.experience-content{
    display: inline-block;
    justify-content: space-around;

}
.experience-content div:first-child img{
    height: 200px;
    width: 350px;
    align-self: start;
}
.experience-content div:first-child h5{
    color: white;
    font-size: 15px;
}
.experience-content div:nth-child(2) img{
    height: 200px;
    width: 350px;
   margin-left: 200px;
}
.experience-content div:nth-child(2) h5{
    color: white;
    font-size: 15px;
}
.experience-content div:nth-child(3) img{
    height: 200px;
    width: 350px;
    align-self: start;
}
.experience-content div:nth-child(3) h5{
    color: white;
    font-size: 15px;
}
.experience-content div:nth-child(4) img{
    height: 200px;
    width: 350px;
    margin-left: 200px;
}
.experience-content div:nth-child(4) h5{
    color: white;
    font-size: 15px;
}

