*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*header section*/
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 1000;
}
.header_content{
    display: flex;
    width: 95%;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.logo>img{
    width: 150px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    /*transition: 0.3s ease-in-out;*/
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.nav>ul>li{
    display: inline-block;
    list-style: none;
    margin:10px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.nav>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;

}
.nav>ul>li>.active,
.nav>ul>li>a:hover{
    color: #06C3DD;
    text-shadow: #06C3DD;
    border-bottom: 3px solid #06C3DD;
}
#menu_icon{
    font-size: 3.5rem;
    color: white;
    display: none;
}


/*====================home section====================*/
.hero-page{
    background-image: url("../assests/images/index/background1.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 45px;
    font-weight: 700;
    color: white;
    margin: 2px 0;
}
.home-content h3{
    font-size: 32px;
    color: #06C3DD;
    font-weight: 700;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #06C3DD;
    border-radius: 50%;
    font-size: 20px;
    color: #06C3DD;
    text-decoration: none;
    margin: 20px 15px 30px 0;
    transition: .5s ease;
}
.social-icons a:hover{
    background: #06C3DD;
    color: white;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #06C3DD;
    border-radius: 40px;
    box-shadow: 0 0 10px #06C3DD;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
.home-img img{
    width: 300px;
    height: 450px;
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/*====================about section====================*/
.about-page{
    background-image: url("../assests/images/about/bac.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 1% 0;
}
.about-img {
    border-radius: 50px;
}
.about-img img{
    width: 750px;
    height: 600px;
}
.about-content h1{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
span{
    color: #06C3DD;
    font-size: 37px;
}
.about-content p{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;

}
.about-btn{
    display: inline-block;
    padding: 12px 28px;
    background: #06C3DD;
    border-radius: 40px;
    box-shadow: 0 0 10px #06C3DD;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #06C3DD;
}
::-webkit-scrollbar-track{
    background-color: black;
}
/*====================education section====================*/
.education-page{
    background-image: url("../assests/images/education/education.png");
    height: 135vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.education{
    display: inline-block;
    padding: 20px 5% 0;
}
.education h1{
    color: #06C3DD;
    font-size: 35px;
}
.education-content .edu{
    background-color: rgba(1, 1, 31, 0.31);
    width: 95%;
    height: 200px;
    border-radius: 0 50px 50px 0;
    margin: 20px 0;
}
.edu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu img{
    width: 150px;
    height: 150px;
    margin: 15px;
}
.edu h3{
    font-size: 25px;
    color: #06C3DD;

}
.edu h4{
    font-size: 18px;
    color: white;
}
/*====================project section====================*/
.project-page{
    background-image: url("../assests/images/project/project.png");
    height: 135vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.project h3{
    color: white;
    font-size: 30px;

}
.heading{
    color: #06C3DD;
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.project-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    margin: 5rem 0;
    gap: 3rem;
    row-gap: 5rem;
}
.project-card{
    height: 500px;
    max-width: 450px;
    background-color:transparent;
    backdrop-filter: blur(30px);
    border: 2px solid #06C3DD;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px #06C3DD;
    transition: 0.4s ease;
}
.project-card:hover{
    box-shadow: 0 0 25px #06C3DD,
                0 0 50px #06C3DD;
    transform: scale(1.02);
}
.project-card img{
    max-width: 18vw;
    object-fit: cover;
}
.project-card h3{
    font-size: 1.5rem;
    color: #06C3DD;
}
.project-card h4{
    font-size: 1rem;
    color: white;
}
.project-card a{
    display: inline-block;
    padding: 12px 28px;
    background: #06C3DD;
    border-radius: 40px;
    box-shadow: 0 0 10px #06C3DD;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

/*====================assignment section====================*/
.assignment-page{
    background-image: url("../assests/images/assignment/assignment.png");
    height: 150vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.assignment h1{
    color: #06C3DD;
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.assignment-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    grid-gap: 2rem;

}
.assignment-content div{
    border: 2px solid #06C3DD;
    background: linear-gradient(white,#06C3DD);
    border-radius: 30px 30px 30px 30px;
    width: 200px;
    height: 200px;
}
.assignment-content div img{
    width: 80px;
    height: 80px;
    margin-left:50px;
    padding: 10px;
}
.assignment-content div h3{
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 20px 40px;
}
.assignment-content div a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 10px 15px 50px 0;
    transition: .5s ease;
}

/*====================experience section====================*/
.experience-page{
    background-image: url("../assests/images/experience/experience.png");
    height: 150vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.experience h1{
    color: #06C3DD;
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.experience-content div{
    display: inline-flex;
    justify-content: space-around;

}
.experience-content div:first-child img{
    height: 200px;
    width: 350px;
    align-self: start;
}
.experience-content div:first-child h5{
    color: white;
    font-size: 15px;
    margin: 70px 10px;
}
.experience-content div:nth-child(2) img{
    height: 200px;
    width: 350px;
   margin-left: 200px;
}
.experience-content div:nth-child(2) h5{
    color: white;
    font-size: 15px;
    margin: 70px 10px;
}
.experience-content div:nth-child(3) img{
    height: 200px;
    width: 350px;
    align-self: start;
}
.experience-content div:nth-child(3) h5{
    color: white;
    font-size: 15px;
    margin: 70px 10px;
}
.experience-content div:nth-child(4) img{
    height: 200px;
    width: 350px;
    margin-left: 200px;
}
.experience-content div:nth-child(4) h5{
    color: white;
    font-size: 15px;
    margin: 70px 10px;
}

/*====================skills section====================*/
.skills-page{
    background-image: url("../assests/images/skills/skills.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.skills h1{
    color: #06C3DD;
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.skills-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    grid-gap: 4rem;
}
.skills-content div img:first-child{
    width:150px ;
    height: 150px;
}
.skills-content div img:nth-child(2) {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

/*====================gallery section====================*/
.gallery-page{
    background-image: url("../assests/images/gallery/gallery.png");
    height: 120vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.gallery h1{
    color: #06C3DD;
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.gallery-content  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    grid-gap: 4rem;

}
.gallery-content div img{
    width:300px;
    height: 250px;
}

/*====================contact section====================*/
.contact-page{
    background-image: url("../assests/images/contact/contact.png");
    height: 150vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.contact h1{
    color: #06C3DD;
    font-size: 35px;
    margin: auto;
    padding: 20px;
}
.container {
    position: relative;
    padding: 2rem;
    background-color: black;
    border: 3px solid #06C3DD;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 100%;
    max-width: 8820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form {
    background-color:#06C3DD;
    position: relative;
}
.circle {
    border-radius: 50%;
    background: linear-gradient(white,#06C3DD);
    position: absolute;
}
.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}
.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}
.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color:cadetblue;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}
.input-container {
    position: relative;
    margin: 1rem 0;
}
.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}
textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}
.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}
.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}
.Cbtn {
    display: inline-block;
    padding: 12px 28px;
    background: #06C3DD;
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 0 10px #06C3DD;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover {
    background-color: transparent;
    color: #fff;
}
.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: black;
    top: 50%;
    transform: translateY(-50%);
}
.input-container span:before {
    left: 50%;
}
.input-container span:after {
    right: 50%;
}
.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}
.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}
.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}
.contact-info .title {
    color: black;
}
.text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}
.information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}
.icon {
    width: 28px;
    margin-right: 0.7rem;
}
.fas{
    width: 28px;
    margin-right: 0.7rem;
}
.social-media {
    padding: 2rem 0 0 0;
}
.social-media p {
    color: #333;
}
.content-icon {
    display: flex;
    margin-top: 0.5rem;
}
.content-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #06C3DD;
    border-radius: 50%;
    font-size: 20px;
    color: #06C3DD;
    text-decoration: none;
    margin: 20px 15px 30px 0;
    transition: .5s ease;
}
.content-icon a:hover {
    background: #06C3DD;
    color: white;
}
.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid white;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}
/*.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #1cd4af, #159b80);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}*/
.big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}
.square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
}
@media (max-width: 850px) {
    .form {
        grid-template-columns: 1fr;
    }
    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }
    .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
    }
    .square {
        transform: translate(140%, 43%);
        height: 350px;
    }
    .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
    }
    .text {
        margin: 1rem 0 1.5rem 0;
    }
    .social-media {
        padding: 1.5rem 0 0 0;
    }
}
@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
    }
    .contact-info:before {
        display: none;
    }
    .square,
    .big-circle {
        display: none;
    }
    form,
    .contact-info {
        padding: 1.7rem 1.6rem;
    }
    .text,
    .information,
    .social-media p {
        font-size: 0.8rem;
    }
    .title {
        font-size: 1.15rem;
    }
    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .icon {
        width: 23px;
    }
    .input {
        padding: 0.45rem 1.2rem;
    }
    .btn {
        padding: 0.45rem 1.2rem;
    }
}

/*====================footer section====================*/
.footer{
    background-image: url("../assests/images/footer/foot.png");
    height: 20vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.footer-content{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 500px;
    gap: 5rem;
}
.foot-icon a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #06C3DD;
    border-radius: 50%;
    font-size: 20px;
    color: #06C3DD;
    text-decoration: none;
    margin: 10px 15px 30px 0;
    transition: .5s ease;
}
.foot-icon a:hover{
    background: #06C3DD;
    color: white;
}
.foot-content{
    color: white;
    font-size: 20px;
}

